header{
   padding-bottom: 30px;
}

#social li {
    padding: 15px 70px;
    margin-bottom: 10px;
 }

 .button {
    padding: 10px;
 }
 nav a {
   padding: 10px;
}

* {
   margin-top: 10px;
   margin-bottom: 10px;

}

main {
   border-bottom: 1px solid grey;
   padding-top: 30px;
   padding-bottom: 30px;
}

footer li {
   list-style: none;
   border-bottom: 1px solid grey;
   padding-top: 30px;
   padding-left: 10px;
}

.logo_visual img {
   padding: 10px;
}
