header {
   background: #A6D3C8;
   padding: 15px 0;
} 


#mainmenu{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 250px;
  column-gap: 25px;
}

header p {
   margin: 10px;
   margin-left: 30px;
} 

header .wrapper {
   padding: 30px 0;
   max-width: 1200px; 
   margin: 0 auto;
   display: flex;
   justify-content: space-between; 
   align-items: center;
}  

/* logo */

.logo h1 {
   font-size: 48px;
   margin-left: 250px;
}

.logo h1 a {
   color: #333;
}

.logo h1 a:hover {
   text-decoration: none;
}

.logo p {
   font-size: 14px;
   color: #555;
   font-style: italic;
   margin-left: 300px;
}

/* navigation */

#mainmenu a {
   color: #000;
   font-size: 17px;
   text-transform: uppercase;
   
}

#mainmenu a:hover,
#mainmenu .active a {
   color: #519A8E;
   text-decoration: none;
}